{% load i18n %}
{% load alex_tags %}
<div>
	<div class="container-fluid" style="padding:16px;">
		<div class="row justify-content-center align-items-center mx-auto" id="header">
			<div class="col" id="header-site_name">
				<div id="company-name">
                <a href="{% url 'index' %}">
                {% block site_name %}
                {% endblock site_name %}
                </a>
                </div>
			</div>
			<div class="col-auto d-flex" id="header-search">
				<div class="ml-auto">
                    {% block site_search %}
                    {% endblock site_search %}
				    {% comment %} {% include "alexecx_django/site_search.html" %} {% endcomment %}
				</div>
			</div>
		</div>
	</div>


	<nav class="navbar navbar-light navbar-expand-sm sticky-top navigation-clean-search" id="navbar-main">
	  <div class="container-fluid"><button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">{% trans 'basculer la navigation'|capfirst %}</span><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse mx-auto" id="navcol-1">
					<ul class="nav navbar-nav float-sm-right float-md-right mr-auto" id="navbar-navitem-1">
							<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i>&nbsp; {% trans 'accueil' %}</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" href="#">{% trans "navtest" %}</a></li>
							<li class="nav-item" role="presentation">
								<form action="{% url 'set_language' %}" method="post" name="langform">
                                    {% csrf_token %}
									<input name="next" type="hidden" value="{{ request.path}}{% if request.GET %}?{% url_encode request.GET %}{% endif %}" />
									<select class="form-control" name="language" onchange="this.form.submit()">
										{% get_current_language as LANGUAGE_CODE %}
										{% get_available_languages as LANGUAGES %}
										{% get_language_info_list for LANGUAGES as languages %}
										{% for language in languages %}
											<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
												{{ language.name_local|capfirst }} ({{ language.code }})
											</option>
										{% endfor %}
									</select>
								</form>
							</li>
							
					</ul>
					
				{% comment %}
				  This navbar-nav is hidden on bigger devices (expanded navbar) and appears on mobile.
				  id="navbar-navitem-0" appears for mobile, replaced by id="navbar-navitem-2" on others.
				{% endcomment %}
				<ul class="nav navbar-nav float-sm-right float-md-right" id="navbar-navitem-0">
					{% block expanded %}
					{% if not user.is_authenticated %}
						<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'signin' %}"><i class="fa fa-sign-in"></i>&nbsp;{% trans 'se connecter'|capfirst %}</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'signup' %}"><i class="fa fa-user"></i>&nbsp;{% trans 'créer un compte'|capfirst %}</a></li>
					{% else %}
						<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'userprofile' %}"><i class="fa fa-user"></i>&nbsp;{% trans 'profil'|capfirst %}</a></li>
						{% if user.is_superuser %}
							<div class="dropdown-divider" role="presentation"></div>
							<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'admin:index' %}"><i class="fa fa-gears"></i>&nbsp;{% trans 'site admin'|capfirst %}</a></li>
						{% endif %}
						<div class="dropdown-divider" role="presentation"></div>
						<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}" id="navbar-dropdown-logout"><i class="fa fa-sign-out"></i>{% trans 'se déconnecter'|capfirst %}</a></li>
					{% endif %}
					{% endblock expanded %}
				</ul>

				<ul class="nav navbar-nav float-sm-right float-md-right" id="navbar-navitem-2">
					{% block collapsed %}
					{% if not user.is_authenticated %}
						<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'signin' %}"><i class="fa fa-sign-in"></i>&nbsp;{% trans 'se connecter'|capfirst %}</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'signup' %}"><i class="fa fa-user"></i>&nbsp;{% trans 'créer un compte'|capfirst %}</a></li>
					{% else %}
						<li class="dropdown" id="navbar-dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{ request.user.username }}&nbsp;</a>
							<div class="dropdown-menu mr-auto dropdown-menu-right" role="menu">
								<a class="dropdown-item" role="presentation" href="{% url 'userprofile' %}"><i class="fa fa-user"></i>&nbsp;{% trans 'profil'|capfirst %}</a>
								{% if user.is_superuser %}
								<div class="dropdown-divider" role="presentation"></div>
								<a class="dropdown-item" role="presentation" href="{% url 'admin:index' %}"><i class="fa fa-gears"></i>&nbsp;{% trans 'site admin'|capfirst %}</a>
								{% endif %}
								<div class="dropdown-divider" role="presentation"></div>
								<a class="dropdown-item" role="presentation" href="{% url 'logout' %}" id="navbar-dropdown-logout"><i class="fa fa-sign-out"></i>{% trans 'se déconnecter'|capfirst %}</a>
							</div>							
						</li>
					{% endif %}
					{% endblock collapsed %}
				</ul>
			</div>
		</div>
	</nav>
</div>
